<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Juroszek Bartłomiej">

    <title>OTP- Online training platform- user schedule</title>

    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="assets/css/style.css"> <!-- Resource style -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

    <title>Schedule Template | CodyHouse</title>
</head>
<body class="scheduleMain">
<div ng-app="myApp">
    <div ng-controller="userController" ng-init="init()">
        <!--NAVBAR TOP-->
        <div class="navbar navbar-inverse navbar-fixed-top headroom">
            <div class="container">
                <div class="navbar-header pull-right">
                    <!-- Button for smallest screens -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="OTP.html"><img src="assets/images/favicon.ico"
                                                                 alt="Logo"></a>
                </div>
                <ul class="nav navbar-nav pull-left">
                    <li class="active"><a href="OTP.html">Home</a></li>
                    <li ng-show="authData"><a href="settings.html">Account Settings </a></li>
                    <li ng-show="authData"><a href="#" ng-click="profile()">Profile</a></li>
                    <li ng-show="authData"><a ng-click="goToScheduleAsOwner()"  href="#">Your schedule</a></li>
                    <li ng-show="authData"><a href="trainerDashboard.html" href="#">Trainer Dashboard</a></li>
                    <li ng-show="authData"><a href="traineeDashboard.html" href="#">Trainee Dashboard</a></li>
                    <li><a href="about.html">About</a></li>

                    <li>
                        <a class="btn" ng-hide="authData" href="logIn.html" title="LOG IN">LOG IN</a></li>
                    <li ng-show="authData" ng-click="logOut()"  ng-controller="logOutController"><a href="#">Sign Out </a></li>
                </ul>
            </div>
        </div>
        <!--/NAVBAR TOP-->
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div ng-controller="initialScheduleController">
        <modal visible="showModal" style="min-width: 1000px; min-height: 1000px"></modal>
        <div class="cd-schedule loading" style="margin-left: 15%;">
            <div class="timeline settingsform" style="height: auto;">

                <ul>
                    <li><span>06:00</span></li>
                    <li><span>06:30</span></li>
                    <li><span>07:00</span></li>
                    <li><span>07:30</span></li>
                    <li><span>08:00</span></li>
                    <li><span>08:30</span></li>
                    <li><span>09:00</span></li>
                    <li><span>09:30</span></li>
                    <li><span>10:00</span></li>
                    <li><span>10:30</span></li>
                    <li><span>11:00</span></li>
                    <li><span>11:30</span></li>
                    <li><span>12:00</span></li>
                    <li><span>12:30</span></li>
                    <li><span>13:00</span></li>
                    <li><span>13:30</span></li>
                    <li><span>14:00</span></li>
                    <li><span>14:30</span></li>
                    <li><span>15:00</span></li>
                    <li><span>15:30</span></li>
                    <li><span>16:00</span></li>
                    <li><span>16:30</span></li>
                    <li><span>17:00</span></li>
                    <li><span>17:30</span></li>
                    <li><span>18:00</span></li>
                    <li><span>18:30</span></li>
                    <li><span>19:00</span></li>
                    <li><span>19:30</span></li>
                    <li><span>20:00</span></li>
                    <li><span>20:30</span></li>
                    <li><span>21:00</span></li>
                    <li><span>21:30</span></li>
                    <li><span>22:00</span></li>
                </ul>
            </div>
            <div class="events">
                <ul>
                    <li class="events-group" ng-repeat="day in scheduleWeek">
                        <div class="top-info"><span>{{day.name}} {{day.day}}.{{day.month}}</span></div>
                        <button data-toggle="modal" class="btn trainingScheduleButton"
                                ng-repeat="training in getTrainingsFromDate(day)" ng-click="toggleModal(training)"
                                ng-style="getTrainingStyle(training)">{{training.description}}<br>{{training.hoursStart}}:{{training.minutesStart}}-
                            {{training.hoursEnd}}:{{training.minutesEnd}}<br>
                            Price for hour: {{training.price}}
                        </button>
                    </li>

                </ul>
            </div>

            <div class="cover-layer"></div>
        </div> <!-- .cd-schedule -->
        <aside class="col-md-4 sidebar sidebar-left container text-center">
            <div class="sidenav">
                <div>
                    <ul class="btn-group-vertical">
                        <li>
                            <br>Select date
                            <input type="date" name="currentDate" ng-model="currentDate" class="form-control"
                                   ng-change="getSchedule()">
                        </li>
                        <br><br>
                        <li>
                            <button class="categoriesb" ng-click="goToProfile()">Visit profile</button>
                        </li>
                        <li ng-show="isOwnerOfView">
                            Show trainings you own
                            <input class="form-control " type="checkbox" ng-model="showOwned" ng-click = "visibilityChange()">
                        </li>
                        <li ng-show="isOwnerOfView">
                            Show trainings you reserved
                            <input class="form-control " type="checkbox" ng-model="showReserved" ng-click = "visibilityChange()">
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    if (!window.jQuery) document.write('<script src="js/jquery-3.0.0.min.js"><\/script>');
</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="assets/js/notify.js"></script>
<script src="scripts/service/userService.js"></script>
<script src="scripts/schedule/initialScheduleController.js"></script>
<script src="scripts/common/logOutScript.js"></script>
<script src="scripts/common/userController.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/headroom.min.js"></script>
<script src="assets/js/jQuery.headroom.min.js"></script>
<script src="assets/js/template.js"></script>
<script src="assets/js/respond.min.js"></script>


</body>
</html>