<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Bartłomiej Juroszek">

    <title>Account settings</title>

    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="assets/css/main.css">
    <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div ng-app="myApp" ng-controller="userController" ng-init="init()" ng-show="authData">
    <!--NAVBAR TOP-->
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header pull-right">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="OTP.html"><img src="assets/images/favicon.ico"
                                                             alt="Logo"></a>
            </div>
            <ul class="nav navbar-nav pull-left">
                <li class="active"><a href="OTP.html">Home</a></li>
                <li ng-show="authData"><a href="settings.html">Account Settings </a></li>
                <li ng-show="authData"><a href="#" ng-click="profile()">Profile</a></li>
                <li ng-show="authData"><a ng-click="goToScheduleAsOwner()"  href="#">Your schedule</a></li>
                <li ng-show="authData"><a href="trainerDashboard.html" href="#">Trainer Dashboard</a></li>
                <li ng-show="authData"><a href="traineeDashboard.html" href="#">Trainee Dashboard</a></li>
                <li><a href="about.html">About</a></li>

                <li>
                    <a class="btn" ng-hide="authData" href="logIn.html" title="LOG IN">LOG IN</a></li>
                <li ng-show="authData" ng-click="logOut()"  ng-controller="logOutController"><a href="#">Sign Out </a></li>
            </ul>
        </div>
    </div>
    <!--/NAVBAR TOP-->

    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container settingsform">

        <ol class="breadcrumb">
            <li><a href="OTP.html">Home</a></li>
            <li class="active">Settings</li>
        </ol>


        <div class="row" ng-controller="settingsController">
            <!-- Sidebar -->
            <aside class="col-md-4 sidebar sidebar-left container text-center">
                <div class="sidenav">
                    <div class="btn-group-vertical">
                        <button ng-click="editProfile()" class=" categoriesb">Edit Profile
                        </button>
                        <button ng-click="accountDetails()" class=" categoriesb">Change account details
                        </button>
                    </div>
                </div>
            </aside>
            <!-- /Sidebar -->

            <!-- Edit profile -->
            <div class="col-md-8 maincontent container widget" ng-show="editingProfile" ng-controller="userProfileController">
                Your profile content
                <textarea class="form-control" style="min-height: 250px; "  ng-model="profile.content"></textarea><br>
                Show email
                <input class="form-control " type="checkbox" ng-model="profile.showMail">
                Show address
                <input class="form-control " type="checkbox" ng-model="profile.showAddress">
                Facebook fanpage:
                <input type="text" name="Facebook" class="form-control"
                       ng-model="profile.facebookLink" width="50">
                Linkedin profile:
                <input type="text" name="LinkedIn" class="form-control"
                       ng-model="profile.linkedInLink" width="50"><br>
                Phone number:
                <input type="text" class="form-control" ng-change="test()"
                       ng-model="profile.phoneNumber" maxlength="9" minlength="9">
                <br>
                New link:
                <input type="text"  class="form-control"
                       ng-model="newLink" width="50">
                <br>
                <button ng-click="pushNewSocialMediaLink(newLink)" class="btn primKey">Add website link</button>
                <ul ng-show="profile.socialMediaLinks.length > 0">
                    <li>Your links:</li>
                    <li ng-repeat="link in profile.socialMediaLinks">{{link}} <button ng-click="removeLink(link)">X</button></li>
                </ul>
                <br>
                <button ng-click="updateProfile()" class="btn primKey"
                >Save changes
                </button>
            </div>
            <!-- /Edit profile -->

            <!-- DETAILS -->
            <div class="col-md-8 maincontent container " ng-show="details">
                First name:<br>
                <div class="widget">
                    <input type="text" name="Name" class="form-control"
                           ng-model="userNameChange" width="50">
                </div>
                Login:<br>
                <div class="widget">
                    <input type="text" name="Login" class="form-control"
                           ng-model="loginChange" width="50">
                </div>
                Password:<br>
                <div class="widget">
                    <input type="password" name="Password" class="form-control"
                           ng-model="passwordChange" width="50">
                </div>
                Adress:<br>
                <div class="widget">
                    <input type="text" name="adressChange" class="form-control"
                           ng-model="adressChange" width="50">
                </div>
                <br>
                <button ng-click="changeDetailsSubmit()" class="btn primKey"
                >Save changes
                </button>
            </div>
            <!-- /DETAILS -->

        </div>
    </div>


</div>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/headroom.min.js"></script>
<script src="assets/js/jQuery.headroom.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="assets/js/notify.js"></script>
<script src="scripts/service/userService.js"></script>
<script src="assets/js/template.js"></script>
<script src="scripts/common/userController.js"></script>
<script src="scripts/common/logOutScript.js"></script>
<script src="scripts/settings/settingsController.js"></script>
<script src="scripts/userProfile/userProfileScript.js"></script>
</body>
</html>