<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Bartłomiej Juroszek">

    <title>Trainee dashboard</title>

    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="assets/css/main.css">
    <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div ng-app="myApp" ng-controller="userController" ng-init="init()" ng-show="authData">
    <!--NAVBAR TOP-->
    <div ng-controller="traineeDashboardController">
        <div class="navbar navbar-inverse navbar-fixed-top headroom">
            <div class="container">
                <div class="navbar-header pull-right">
                    <!-- Button for smallest screens -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse"><span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="OTP.html"><img src="assets/images/favicon.ico"
                                                                 alt="Logo"></a>
                </div>
                <ul class="nav navbar-nav pull-left">
                    <li class="active"><a href="OTP.html">Home</a></li>
                    <li ng-show="authData"><a href="settings.html">Account Settings </a></li>
                    <li ng-show="authData"><a href="#" ng-click="profile()">Profile</a></li>
                    <li ng-show="authData"><a ng-click="goToScheduleAsOwner()" href="#">Your schedule</a></li>
                    <li ng-show="authData"><a href="trainerDashboard.html" href="#">Trainer Dashboard</a></li>
                    <li ng-show="authData"><a href="traineeDashboard.html" href="#">Trainee Dashboard</a></li>
                    <li><a href="about.html">About</a></li>

                    <li>
                        <a class="btn" ng-hide="authData" href="logIn.html" title="LOG IN">LOG IN</a></li>
                    <li ng-show="authData" ng-click="logOut()" ng-controller="logOutController"><a href="#">Sign
                        Out </a></li>
                </ul>
            </div>
        </div>
        <!--/NAVBAR TOP-->

        <header id="head" class="secondary"></header>

        <!-- container -->
        <div class="container settingsform">

            <ol class="breadcrumb">
                <li><a href="OTP.html">Home</a></li>
                <li class="active">Settings</li>
            </ol>


            <div class="row">
                <!-- Sidebar -->
                <aside class="col-md-4 sidebar sidebar-left container text-center">
                    <div class="sidenav">
                        <div class="btn-group-vertical">
                            <button ng-click="upcomingTrainings()" class=" categoriesb">Upcoming trainings
                            </button>
                            <button ng-click="rates()" class=" categoriesb">Rate trainer
                            </button>
                            <button ng-click="materials()" class=" categoriesb">Materials
                            </button>
                        </div>
                    </div>
                </aside>
                <!-- /Sidebar -->


                <!-- RATES -->
                <div class="col-md-8 maincontent container" ng-show="ratesDashboardShow"
                     ng-controller="ratesController as ratesCtrl">
                    <ul class="trainingsList" ng-show="trainingsToRate.length > 0">
                        <li ng-repeat="trainingFound in trainingsToRate">
                            <div class="trainingItem" ng-click="setVisibleRateField(trainingFound)">
                                <label>{{trainingFound.category.name}}</label>
                                <label>{{trainingFound.description}}</label>
                                <label>Trainer: {{trainingFound.owner.name}}</label>
                            </div>
                            <br><label ng-show="trainingFound.visibility">Rate (1-5)</label>
                            <select ng-change ="setRate(selectedRate)" ng-show="trainingFound.visibility" class="form-control"
                                    ng-model="selectedRate">
                                <option ng-repeat="selectedRate in allowedRates">{{selectedRate.name}}</option>
                            </select>
                            <label ng-show="trainingFound.visibility">Comment:</label>
                            <textarea ng-show="trainingFound.visibility" class="form-control"
                                      style="min-height: 150px;min-width: 600px; "
                                      ng-model="ratesCtrl.rateComment"></textarea><br>
                            <button ng-show="trainingFound.visibility" ng-click="rate(trainingFound)"
                                    class="btn primKey"
                            >Send rate
                            </button>
                        </li>
                    </ul>
                    <label ng-show="trainingsToRate.length === 0">No trainings to rate</label>
                </div>

                <!-- /RATES -->


                <!-- UPCOMING TRAININGS -->
                <div class="col-md-8 maincontent container" ng-show="upcomingTrainingsShow"
                     ng-controller="upcomingTrainingsController">
                    <ul class="trainingsList" ng-show="upcomingTrainings.length > 0">
                        <li ng-repeat="trainingFound in upcomingTrainings">
                            <div class="trainingItem" ng-click="goToSchedule(trainingFound)">
                                <label>{{trainingFound.category.name}}</label>
                                <label>{{trainingFound.description}}</label>
                                <label>Trainer: {{trainingFound.owner.name}}</label>
                                <label>Start: {{trainingFound.dateStartHumanForm}}</label>
                            </div>
                        </li>
                    </ul>
                    <label ng-show="upcomingTrainings.length === 0">No trainings in this week</label>
                </div>

                <!-- /UPCOMING TRAININGS -->

                <!-- MATERIALS -->
                <div class="col-md-8 maincontent container" ng-show="materialsShow"
                     ng-controller="materialsController">
                    <ul class="trainingsList" ng-show="paths.length > 0">
                        <label style="color:var(--important); min-width: 400px;">Click on file name to download it:</label><br><br><br>
                        <li ng-repeat="path in paths" ng-click="download(path)">
                            <div class="trainingItem">
                                <label>{{path.fileName}}</label>
                            </div>
                        </li>
                    </ul>
                    <label ng-show="paths.length === 0">You have no access to any material</label>
                </div>

                <!-- /MATERIALS -->



            </div>
        </div>

    </div>
</div>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/headroom.min.js"></script>
<script src="assets/js/jQuery.headroom.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="assets/js/notify.js"></script>
<script src="scripts/service/userService.js"></script>
<script src="assets/js/template.js"></script>
<script src="scripts/common/userController.js"></script>
<script src="scripts/common/logOutScript.js"></script>
<script src="scripts/traineeDashboard/traineeDashboardController.js"></script>
<script src="scripts/traineeDashboard/ratesController.js"></script>
<script src="scripts/traineeDashboard/materialsController.js"></script>
<script src="scripts/traineeDashboard/upcomingTrainingsController.js"></script>
<script src="scripts/traineeDashboard/materialsController.js"></script>
</body>
</html>