<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

    <title>Sign in </title>

    <link rel="shortcut icon" href="assets/images/logo.png">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--NAVBAR TOP-->
<div class="navbar navbar-inverse navbar-fixed-top headroom">
    <div class="container">
        <div class="navbar-header pull-right">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="index.html"><img src="assets/images/favicon.ico"
                                                           alt="Logo"></a>
        </div>
        <ul class="nav navbar-nav pull-left">
            <li class="active"><a href="index.html">Home</a></li>
            <li ng-show="authData"><a href="settings.html">Account Settings </a></li>
            <li ng-show="authData"><a href="#" ng-click="profile()">Profile</a></li>
            <li ng-show="authData"><a ng-click="goToScheduleAsOwner()"  href="#">Your schedule</a></li>
            <li ng-show="authData"><a href="trainerDashboard.html"  href="#">Trainer Dashboard</a></li>
            <li ng-show="authData"><a ng-click="goToScheduleAsOwner()"  href="#">Trainee Dashboard</a></li>
            <li><a href="about.html">About</a></li>

            <li>
                <a class="btn" ng-hide="authData" href="logIn.html" title="LOG IN">LOG IN</a></li>
            <li ng-show="authData" ng-click="logOut()"  ng-controller="logOutController"><a href="#">Sign Out </a></li>
        </ul>
    </div>
</div>
<!--/NAVBAR TOP-->

    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container settingsform">

        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">User access</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Sign in</h1>
                </header>

                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <h3 class="thin text-center">Reset password</h3>
                    <p class="text-center">We will send you new password on your email adress</p>
                    <hr>

                    <form>
                        <div class="top-margin">
                            <label>Username/Email <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" ng-model="mail">
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-8">
                                <b><a href="">Forgot password?</a></b>
                            </div>
                            <div class="col-lg-4 text-right">
                                <button class="btn btn-action" ng-click="resetPassword()">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </article>
            <!-- /Article -->

        </div>
    </div>    <!-- /container -->

</div>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="assets/js/notify.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/headroom.min.js"></script>
<script src="assets/js/jQuery.headroom.min.js"></script>
<script src="assets/js/template.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script src="scripts/service/userService.js"></script>
<script src="scripts/resetPassword/resetPasswordScript.js"></script>
</body>
</html>