<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

    <title>Account settings</title>

    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="assets/css/main.css">
    <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div ng-app="myApp" ng-controller="userController" ng-init="init()" ng-show="authData">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png"
                                                               alt="Progressus HTML5 template"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="settings.html">Settings</a></li>
                            <li><a href="sidebar-right.html">Right Sidebar</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li>
                        <a class="btn" ng-hide="authData" href="logIn.html" title="LOG IN">LOG IN</a></li>
                    <li ng-show="authData">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{userInfoText}} </a>
                                <ul class="dropdown-menu">
                                    <li><a href="settings.html">Account Settings </a></li>
                                    <li><a href="#">Messages </a></li>
                                    <li><a href="#">Favourites Snippets </a></li>
                                    <li ng-click="logOut()" ng-app="myApp" ng-controller="logOutController">><a
                                            href="#">Sign
                                        Out </a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->

    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container settingsform">

        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Settings</li>
        </ol>


        <div class="row" ng-controller="settingsController">
            <!-- Sidebar -->
            <aside class="col-md-4 sidebar sidebar-left">
                <div class="btn-group-vertical">
                <button ng-click="accountDetails()" class=" categoriesb">Change account detail
                </button>
                <button ng-click="trainingTemplate()" class=" categoriesb">Add training template
                </button>
                <button ng-click="addTrainings()" class=" categoriesb">Add trainings
                </button>
                </div>
            </aside>
            <!-- /Sidebar -->
            <!-- DETAILS -->
            <div class="col-md-8 maincontent container " ng-show="details">
                First name:<br>
                <div class="widget">
                    <input type="text" name="Name" class="form-control"
                           ng-model="userNameChange" width="50">
                </div>
                Login:<br>
                <div class="widget">
                    <input type="text" name="Login" class="form-control"
                           ng-model="loginChange" width="50">
                </div>
                Password:<br>
                <div class="widget">
                    <input type="password" name="Password" class="form-control"
                           ng-model="passwordChange" width="50">
                </div>
                Adress:<br>
                <div class="widget">
                    <input type="text" name="adressChange" class="form-control"
                           ng-model="adressChange" width="50">
                </div>
                <br>
                <button ng-click="changeDetailsSubmit()" class="btn primKey"
                >Save changes
                </button>
            </div>
            <!-- /DETAILS -->

            <!-- ADD TRAINING TEMPLATE -->
            <div class="col-md-8 maincontent container" ng-show="trainingsTemplate"
                 ng-controller="trainingTemplateController">
                Pick category<br>
                <select class="selectpicker" ng-model="categorySelect"
                        ng-options="category as category.name for category in templateCategories">
                </select>
                <br>
                Training place (leave empty if online)<br>
                <input type="text" name="Place" class="form-control"
                       ng-model="place" width="50">
                <br>Price [$]<br>
                <input type="number" name="Price" class="form-control"
                       ng-model="price" width="5" min="0.1">
                <br>Description<br>
                <input type="text" name="Description" class="form-control"
                       ng-model="description" width="50" height="4">
                <br>Group size<br>
                <input type="number" name="Capacity" class="form-control"
                       ng-model="capacity" width="2" min="1">
                <button ng-click="saveTrainingTemplate()" class="btn primKey"
                >Save
                </button>
            </div>

            <!-- /ADD TRAINING TEMPLATE -->

            <!-- ADD TRAINING INSTANCE -->
            <div class="col-md-8 maincontent container" ng-show="addTrInstanceVisibility"
                 ng-controller="trainingInstanceController">
                <div class="widget">
                    <div class="container">
                        <div class="row">
                            <br>Select template for this training<br>
                            <select class="selectpicker" ng-model="userTrainingSelect"
                                    ng-options="userTraining as userTraining.description for userTraining in userTrainings">
                            </select>
                        </div>
                        <div class="row">
                            <br>Select date of training start<br>
                            <input type="date" name="trday" ng-model="date" class="form-control">
                            <br>Select time of training start<br>
                            <input type="time" name="trtime" ng-model="hours" class="form-control">
                            <br>Select training duration in hours<br>
                            <input type="number" name="duration" class="form-control"
                                   ng-model="duration" width="5" min="0.1">
                        </div>
                        <br>
                        <button ng-click="saveTrainingInstance()" class="btn primKey"
                        >Save
                        </button>
                    </div>
                </div>
                <!-- /ADD TRAINING INSTANCE -->
            </div>
        </div>
    </div>


    <footer id="footer" class="top-space">

        <div class="footer1">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 widget">
                        <h3 class="widget-title">Contact</h3>
                        <div class="widget-body">
                            <p>+234 23 9873237<br>
                                <a href="mailto:#">some.email@somewhere.com</a><br>
                                <br>
                                234 Hidden Pond Road, Ashland City, TN 37015
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 widget">
                        <h3 class="widget-title">Follow me</h3>
                        <div class="widget-body">
                            <p class="follow-me-icons">
                                <a href=""><i class="fa fa-github fa-2"></i></a>
                                <a href=""><i class="fa fa-linkedin fa-2"></i></a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <h3 class="widget-title">Text widget</h3>
                        <div class="widget-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam
                                architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque
                                voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad
                                id expedita cupiditate repellendus possimus unde?</p>
                            <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat
                                provident assumenda labore soluta minima alias temporibus facere distinctio quas
                                adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate
                                reprehenderit architecto sint libero illo et hic.</p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="simplenav">
                                <a href="#">Home</a> |
                                <a href="about.html">About</a> |
                                <a href="sidebar-right.html">Sidebar</a> |
                                <a href="contact.html">Contact</a> |
                                <b><a href="signup.html">Sign up</a></b>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="text-right">
                                Copyright &copy; 2014, Your name. Designed by <a href="http://gettemplate.com/"
                                                                                 rel="designer">gettemplate</a>
                            </p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

    </footer>
</div>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/headroom.min.js"></script>
<script src="assets/js/jQuery.headroom.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="scripts/userService.js"></script>
<script src="assets/js/template.js"></script>
<script src="scripts/common/userController.js"></script>
<script src="scripts/common/logOutScript.js"></script>
<script src="scripts/settingsController.js"></script>
<script src="scripts/trainingTemplateController.js"></script>
<script src="scripts/trainingInstanceController.js"></script>
</body>
</html>