<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

    <title>Account settings</title>

    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="assets/css/main.css">
    <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div ng-app="myApp" ng-controller="userController" ng-init="init()" ng-show="authData">
    <!--NAVBAR TOP-->
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header pull-right">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="index.html"><img src="assets/images/favicon.ico"
                                                               alt="Logo"></a>
            </div>
            <ul class="nav navbar-nav pull-left">
                <li class="active"><a href="index.html">Home</a></li>
                <li ng-show="authData"><a href="settings.html">Account Settings </a></li>
                <li ng-show="authData"><a href="#" ng-click="profile()">Profile</a></li>
                <li ng-show="authData"><a ng-click="goToScheduleAsOwner()"  href="#">Your schedule</a></li>
                <li ng-show="authData"><a href="trainerDashboard.html"  href="#">Trainer Dashboard</a></li>
                <li ng-show="authData"><a ng-click="goToScheduleAsOwner()"  href="#">Trainee Dashboard</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li>
                    <a class="btn" ng-hide="authData" href="logIn.html" title="LOG IN">LOG IN</a></li>
                <li ng-show="authData" ng-click="logOut()"  ng-controller="logOutController"><a href="#">Sign Out </a></li>
            </ul>
        </div>
    </div>
    <!--/NAVBAR TOP-->

    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container settingsform">

        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Settings</li>
        </ol>


        <div class="row" ng-controller="settingsController">
            <!-- Sidebar -->
            <aside class="col-md-4 sidebar sidebar-left container text-center">
                <div class="sidenav">
                    <div class="btn-group-vertical">
                        <button ng-click="upcomingTrainings()" class=" categoriesb">Upcoming trainings
                        </button>
                        <button ng-click="rateYourTrainer()" class=" categoriesb">Rate trainer
                        </button>
                        <button ng-click="materials()" class=" categoriesb">Materials
                        </button>
                    </div>
                </div>
            </aside>
            <!-- /Sidebar -->


            <!-- ADD TRAINING TEMPLATE -->
            <div class="col-md-8 maincontent container" ng-show="trainingsTemplate"
                 ng-controller="trainingTemplateController">
                Pick category<br>
                <select class="selectpicker form-control" ng-model="categorySelect" ng-change="setCurrentCategory()"
                        ng-options="category as category.fullName for category in templateCategories">
                </select>
                <div ng-show = "notTheoreticalCategory">
                    <br>
                    Training place (leave empty if online)<br>
                    <input type="text" name="Place" class="form-control"
                           ng-model="place" width="50">
                    <br>Group size<br>
                    <input type="number" name="Capacity" class="form-control"
                           ng-model="capacity" width="2" min="1">
                </div>
                <div ng-hide="notTheoreticalCategory">
                    <br><br><br>
                    <label>Theoretical categories doesn't have instances</label><br>
                    <label>Since that they also doesn't have place and date. You can only add materials to it</label>
                </div>
                <br>Price [$]<br>
                <input type="number" name="Price" class="form-control"
                       ng-model="price" width="5" min="0.1">
                <br>Description<br>
                <input type="text" name="Description" class="form-control"
                       ng-model="description" width="50" height="4" maxlength="25">
                <br>
                <button ng-click="saveTrainingTemplate()" class="btn primKey"
                >Save
                </button>
            </div>

            <!-- /ADD TRAINING TEMPLATE -->

            <!-- ADD TRAINING INSTANCE -->
            <div class="col-md-8 maincontent container" ng-show="addTrInstanceVisibility"
                 ng-controller="trainingInstanceController">
                <div ng-show="userTrainings.length > 0">
                    <div class="widget">
                        <div class="container">
                            <div class="row">
                                <br>Select template for this training<br>
                                <select class="selectpicker form-control" ng-model="userTrainingSelect"
                                        ng-options="userTraining as userTraining.description for userTraining in userTrainings">
                                </select>
                            </div>
                            <div class="row">
                                <br>Select date of training start<br>
                                <input type="date" name="trday" ng-model="date" class="form-control">
                                <br>Select time of training start<br>
                                <input type="time" name="trtime" ng-model="hours" class="form-control">
                                <br>Select training duration in hours<br>
                                <input type="number" name="duration" class="form-control"
                                       ng-model="duration" width="5" min="0.1">
                            </div>
                            <br>
                            <button ng-click="saveTrainingInstance()" class="btn primKey"
                            >Save
                            </button>
                        </div>
                    </div>
                    <!-- /ADD TRAINING INSTANCE -->
                </div>
                <div ng-show="userTrainings.length === 0">
                    <label>No trainings viable to add instance has been found!</label>
                </div>
            </div>

        </div>
    </div>


</div>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/headroom.min.js"></script>
<script src="assets/js/jQuery.headroom.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="assets/js/notify.js"></script>
<script src="scripts/service/userService.js"></script>
<script src="assets/js/template.js"></script>
<script src="scripts/common/userController.js"></script>
<script src="scripts/common/logOutScript.js"></script>
<script src="scripts/settings/settingsController.js"></script>
<script src="scripts/settings/trainerDashboard/trainingTemplateController.js"></script>
<script src="scripts/settings/trainerDashboard/trainingInstanceController.js"></script>
<script src="scripts/userProfile/userProfileScript.js"></script>
</body>
</html>