<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Juroszek Bartłomiej">

    <title>OTP- Online training platform</title>

    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>

<body class="home">
<div ng-app="myApp" ng-controller="userController">
    <!--NAVBAR TOP-->
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header pull-right">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="index.html"><img src="assets/images/favicon.ico"
                                                               alt="Logo"></a>
            </div>
            <ul class="nav navbar-nav pull-left">
                <li class="active"><a href="index.html">Home</a></li>
                <li ng-show="authData"><a href="settings.html">Account Settings </a></li>
                <li ng-show="authData"><a href="#" ng-click="profile()">Profile</a></li>
                <li ng-show="authData"><a ng-click="goToScheduleAsOwner()"  href="#">Your schedule</a></li>
                <li ng-show="authData"><a href="trainerDashboard.html"  href="#">Trainer Dashboard</a></li>
                <li ng-show="authData"><a href="traineeDashboard.html"  href="#">Trainee Dashboard</a></li>
                <li><a href="about.html">About</a></li>

                <li>
                    <a class="btn" ng-hide="authData" href="logIn.html" title="LOG IN">LOG IN</a></li>
                <li ng-show="authData" ng-click="logOut()"  ng-controller="logOutController"><a href="#">Sign Out </a></li>
            </ul>
        </div>
    </div>
    <!--/NAVBAR TOP-->

    <!-- Header -->
    <header id="head">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </header>
    <div ng-controller="userProfileController" ng-show="profile !== null">
        <aside class="col-md-4 sidebar sidebar-left container text-center">
            <div>
                <ul class="btn-group-vertical">
                    <li>
                        <button ng-click="selectMainCategory(null)" class="categoriesb">Schedule
                        </button>
                    </li>
                    <li>
                        <button ng-click="selectMainCategory(x)" class="categoriesb">Trainings
                        </button>
                    </li>
                    <li>
                    <li><br><br><br><br>
                        <label>Social Media</label>
                    </li>
                    <a ng-show="profile.facebookLink !== ''" href="{{profile.facebookLink}}" class="loginBtn loginBtn--facebook"> </a>
                    </li>
                    <li>
                        <button ng-show="profile.linkedInLink !== null" class="loginBtn loginBtn--google" href="profile.linkedInLink"> </button>
                    </li>
                    <li ng-repeat="link in profile.socialMediaLinks">
                        <a href="link">{{link}}</a>
                    </li>


                </ul>
            </div>
        </aside>
        <!-- /Header -->
        <div class="settingsform ">
            <div class=" col-md-4 userLabels">
                <img src="{{user.imageUrl}}">

                <label style="color:var(--important); font-size: xx-large;)">{{user.name}}</label>
                <br>
                <br>
                <label ng-show="profile.showMail">{{user.mail}}</label>
                <br>
                <br>
                <label ng-show="profile.showAddress">{{user.adress}}</label>
                <br>
                <br>
                <label ng-show="profile.phoneNumber !== ''">{{profile.phoneNumber}}</label>
                <br>
                <br>
                <label ng-show="profile.content.length != ''">{{profile.content}}
                  </label><br>
                <label>General rate:   {{generalRate}}</label>
                <br>
                <div ng-show="profile.rates != null && profile.rates.length > 0">
                Rates:<br>
                <ul ng-repeat="rate in profile.rates">
                    <li>
                        Rated :{{rate.value}}<br>
                        <label>{{rate.comment}}</label>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/headroom.min.js"></script>
<script src="assets/js/jQuery.headroom.min.js"></script>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<script src="assets/js/notify.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="scripts/service/userService.js"></script>
<script src="assets/js/template.js"></script>
<script src="scripts/common/userController.js"></script>
<script src="scripts/common/logOutScript.js"></script>
<script src="scripts/userProfile/userProfileScript.js"></script>
<script></script>
</body>
</html>